body {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    line-height: 1.8;
}
p {
    margin-block-start: 0;
    margin-block-end: 0;
}
.word {
    font-family: 'Noto Serif TC', serif;
}
.banner {
    background-image: url('image/YIBO/airmax-2090-storytelling-cn-326 (1).jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
    height: 450px;
}
.btn-style {
    width: calc(94%/5);
    height: 42px;
    margin-bottom: 3px;
}
.text-product {
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: #333 2px solid;

}
.u-full-height {
    height: 100%;
}
.u-full-width {
    width: 100%;
}
img {
    max-width: 100%;
}
.css-viwop1 {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.card__a-block {
    display: block;
    width: 100%;
    height: 100%;
}
.card__header {
    display: block;
    border: 0px;
    box-shadow: inset 0 -1px 0 0 #E5E5E5;
}
.card__body-box-shadow {
    display: block;
    border: 0px;
    box-shadow: inset 0 -1px 0 0 #E5E5E5;
}
.card-header {
       background-color: rgba(0,0,0,0) !important; 
}
.mes__font {
    font-size: 12px;
}
.ul__style {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    margin-left: 16px;   /* 推回右邊 */
    margin-bottom: 4px;
}
.img_css-ldouik {
    max-width: 60px;
    max-height: 60px;
}
.btn__border_radius {
    font-size: 16px;
    height: 60px;
    border-radius: 30px;
    margin-bottom: 4px;

}